/*Variables*/
:root {
    /*Colors*/
    --main-color: #75ecd6;
    --header-color: rgba(117, 236, 214, 0.8);
    --hero-bg-color: rgba(96, 173, 214, 0.85);
    --green: #0e3803;
    --white: #ffffff;
}

html {
    font-size: 62.5%;
    font-family: 'Fredoka One', cursive;
    font-family: 'Quicksand', sans-serif;

}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Estilos header*/
header {
    width: 100%;
    background-color: var(--header-color);
    position: relative;
    z-index: 1;
}
header .logo{
    width: 30%;
    margin: 0 auto;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
header .logo img{
    width: 12rem;
}

header .logo h2 {
    color: var(--green);
    font-family: 'Quicksand';
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}
/*Combinando header con hero*/
main {
    width: 100%;
    position: relative;
    top: -9.7rem;
}

/*Menu button*/
header .fixed-action-btn {
    z-index: 2;
}

/*Estilos de hero*/
main .hero {
    width: 100%;
    height: 35rem;
    background-image: url("../img/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-bg {
    background-color: var(--hero-bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero .hero-bg h1{
    width: 40%;
    text-align: center;
    margin: 0 auto;
    color: var(--white);
    margin-top: 100px;
    font-family: 'Quicksand';
    font-weight: bolder;
}

/*Title container*/
main .title-cont {
    width: 45%;
    margin: 0 auto;
    background-color: var(--main-color);
    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -3rem;
}

main .title-cont h4 {
    margin: 0;
    padding: 25px 10px;
    text-align: center;
}

/*Cards container*/

main .cards-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

main .cards-container .card img {
    height: 30rem;
}