/*Variables*/
:root {
    /*Colors*/
    --main-color: #75ecd6;
    --green: #0e3803;
}

html {
    font-size: 62.5%;
    font-family: 'Fredoka One', cursive;
    font-family: 'Quicksand', sans-serif;

}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

/*Estilos header*/
header {
    width: 100%;
    background-color: var(--main-color);
}
header .logo{
    width: 30%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}
header .logo img{
    width: 20rem;
    margin: 1rem auto 0;
}

header .logo h2 {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}