/*Variables*/
:root {
    /*Colors*/
    --main-color: #75ecd6;
    --header-color: rgba(117, 236, 214, 0.98);
    --hero-bg-color: rgba(96, 173, 214, 0.9);
    --footer-bg-color: rgb(96, 173, 214);
    --green: #0e3803;
    --white: #ffffff;
    --login-container-bg: rgba(255, 255, 255, 0.8)
}

html {
    font-size: 62.5%;
    font-family: 'Fredoka One', cursive;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Estilos header*/
header {
    width: 100%;
    background-color: var(--header-color);
    position: relative;
    z-index: 1;
}
header .logo{
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    width: 12rem;
}

header .logo h2 {
    color: var(--green);
    font-family: 'Quicksand';
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}
/*ESTILOS DEL MAIN*/
main .pet-form-container {
    width: 70%;
    margin: 2rem auto;
}
main .pet-form-container .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
main .pet-form-container .img-container img {
    width: 15rem;
}
main .pet-form-container form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}


/*Footer*/
footer {
    width: 100%;
    background-color: var(--footer-bg-color);
}

footer .footer-content {
    width: 80%;
    display: grid;
    margin: 0 auto;
    gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

footer .logo-footer {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

footer .logo-footer{
    width: 35%;
    margin: 0 auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid white;
    justify-items: center;
}
footer .logo-footer img{
    width: 12rem;
}

footer .footer-menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
}

footer .footer-menu li a {
    font-size: 1.2rem;
    color: var(--white);
}

footer .footer-img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0 auto;
}

footer .footer-img img {
    width: 20rem;
}
footer .social-media {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    text-align: center;
}
footer .social-media h6, span {
    color: white;
}